.onde-estamos{
    display: grid;
    height: 20vh;
    margin-top: 5vh;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
}
.titulo{
    margin-top: 5vh;
    padding: 5vh;
    text-align: center;
    font-size: 5vh;
}
.tamanho-img{
    width: 60vh;
    
}
@media screen and (max-device-width:600px){
    .onde-estamos{
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    footer{
        margin-top: 70vh;
    }
}
    