*{
    margin: 0;
    padding: 0;
}
header{
    /* background-image: linear-gradient(to left, rgb(133, 180, 141),rgba(16, 34, 138, 0) ); */
    display: flex;
    justify-content:space-evenly;
    align-items:flex-end;
    margin-top: -45px;

/*........complemetei.........*/
 height: 35vh; /*a altura alterada*/
 background-color: white; /*adicionei um fundo*/
 position: sticky; /*deichei estatco*/
 top: 0vh; /*posicionei a 0 de distancia do top para a posisação de sticky*/
/*...............................*/

}


#logo{
    height: 35vh; /*tamanho da imagem*/
}



/*//////////////////////////////////////////////////////////////////////////////////////*/
main{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding-bottom: 10%;

  

}

h2{
    padding-left: 10vw;
    padding-top: 2%;
}
.menu{
    color: hsl(207, 100%, 50%);
    font-style: italic;
    background-color: white;
    box-shadow: 2px 2px 5px #00d9ff;
    height: 5vh;
    width: 10vw;
    border-radius: 15px;
 text-align: center;
padding-top: 1%;
 
 justify-items: center; 
  
}


#menu{
    
background-color: darkseagreen;
  display: flex;
     /* border:1px solid #00d9ff; */
 align-items: center;
 justify-content: center;
     height: 22%;
     padding-top: 1.5%;
     padding-bottom: 1.5%;
    font-size: 25px;
    row-gap: 10px;
    column-gap: 20px;
    
}
#menu-D{
    font-size: 21px;
    height: 5vh;
    width: 10vw;
}

#empresas{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.empresas{
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 5px #2c97aa;
    height: 22vh;
    width: 30vw;
    border-radius: 15px;
    padding: 0 0 ;
}

#grupo-empresas{
   
  display: grid;
  grid-template-columns: repeat(3, 1fr);
row-gap: 15px;
column-gap: 15px;
justify-items: center;
align-items: center;
padding: 2% 5%;
}


.dados{
    background-color: rgb(220, 236, 220);
    display: grid;
    grid-template-columns: 2fr 4fr;


padding: 2% 5%;
}

@media screen  and (max-device-width : 480px) {
    #grupo-empresas{
        display: grid;
        grid-template-columns: 1fr;
      row-gap: 15px;
      column-gap: 15px;
      justify-items: center;
      align-items: center;
      padding: 2% 5%;
    }

}



/* //////////////////////////////////////////////////////////////////////////////////////////*/










footer{
    background-color: firebrick;
    display: flex;
    padding-top: 3%;
    padding-bottom: 5%;
    
}




/*       darkseagreen        */
.logo{
    width: 25%;
}
#txtCadastre{
    float:left;
    background-color:rgb(220, 236, 220);
    padding-left:8px;
    font-style:italic;
    font-size:18px;
    border: 1px solid;
    border-radius: 8px;
    height:32px;
    width:300px;
    margin-bottom: 20px;
    
}
#txtCadastre:hover{
    color:darkgreen
}
#txtCadastre:active{
    background-color:darkslategrey;
    color: aliceblue;
}
#divBusca{
    background-color:rgb(220, 236, 220);
    border:solid 0px;
    border-radius:8px;
    margin-bottom: 20px;
    margin-right: 20px;

  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:8px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
  }
